<!DOCTYPE html>
<html lang="en">
<script src="/JS/main.js" th:inline="javascript"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<form action="/findSidoStationNearBy" method="get">
  <input type="text" name="area" id="sample6_address_" placeholder="주소를 검색해">
  <button type="submit"><span class="jsx-2356851769 sr-only">검색</span></button>
</form>

</body>



<script>
  function sendAddress() {
    var address = document.getElementById("sample6_address_").value;

    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/search?keyword=" + encodeURIComponent(address), true);
    xhr.onload = function () {
      if (xhr.status === 200) {
        // 응답을 성공적으로 처리한 후 여기에서 처리합니다
        // 페이지를 프로그래밍 방식으로 리다이렉트합니다
        window.location.href = "/redirect";
      } else {
        // 에러 응답을 처리합니다
        console.log("에러:", xhr.status);
      }
    };



    xhr.send();
  }
</script>
</html>