<!DOCTYPE html>
<html lang="en">
<script src="/JS/main.js" th:inline="javascript"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<form action="/findSidoStationNearBy" method="get">
  <input type="text" name="area" th:id="sample6_address_" onclick="sample6_execDaumPostcode()" placeholder="주소를 검색해">
  <button type="submit"><span class="jsx-2356851769 sr-only">검색</span></button>
</form>

</body>




</html>