<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Data Time</th>
        <th>Inform Overall</th>
        <th>Inform Cause</th>
        <th>Inform Grade</th>
        <th>Inform Data</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="each : ${overallList}">
        <td th:text="${each.getDataTime()}"></td>
        <td th:text="${each.getInformOverall()}"></td>
        <td th:text="${each.getInformCause()}"></td>
        <td>
        <span th:each="region : ${#strings.arraySplit(each.getInformGrade(), ',')}">
            <span th:text="${#strings.trim(region)}"/><br>
        </span>
        </td>
        <td th:text="${each.getInformData()}"></td>
    </tr>
    </tbody>

</table>


</body>
</html>
