<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Data Time</th>
        <th>Inform Overall</th>
        <th>Inform Cause</th>
        <th>Inform Grade</th>
        <th>Inform Data</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="each : ${overallList}">
        <td th:text="${each.getDataTime()}"></td>
        <td th:text="${each.getInformOverall()}"></td>
        <td th:text="${each.getInformCause()}"></td>
        <td th:text="${each.getSeoul()}"></td>
        <td th:text="${each.getInformData()}"></td>
    </tr>


    <div th:each="each : ${overallList}">
        <td th:text="${each.getSeoul()}">서울특별시</td>
        <td th:text="${each.getBusan()}">부산광역시</td>
        <td th:text="${each.getDaegu()}">대구광역시</td>
        <td th:text="${each.getIncheon()}">인천광역시</td>
        <td th:text="${each.getGwangju()}">광주광역시</td>
        <td th:text="${each.getDaejeon()}">대전광역시</td>
        <td th:text="${each.getUlsan()}">울산광역시</td>
        <td th:text="${each.getSejong()}">세종특별자치시</td>
        <td th:text="${each.getGyeonggiSouth()}">경기도</td>
        <td th:text="${each.getYeongdong()}">강원도</td>
        <td th:text="${each.getChungbuk()}">충청북도</td>
        <td th:text="${each.getChungnam()}">충청남도</td>
        <td th:text="${each.getJenbuk()}">전라북도</td>
        <td th:text="${each.getJeonnam()}">전라남도</td>
        <td th:text="${each.getGyeongbuk()}">경상북도</td>
        <td th:text="${each.getGyeongnam()}">경상남도</td>
        <td th:text="${each.getJeju()}">제주특별자치도</td>
    </div>

    </tbody>

</table>


</body>
</html>
