<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<style>
  .background {
    fill: yellow; /* Default background color */
  }
</style>

<svg>
  <rect class="background" x="0" y="0" width="100%" height="100%" />
  <path id="CD26" class="OUTLINE" d="M 496 722 l 0 4 -1 0 -2 -5 -1 6 -1 -2 0 0 -1 0 -1 1 -1 2 0 1 -1 -1 -1 -6 -1 -6 -2 3 -2 -3 0 2 0 0 0 0 0 0 -1 0 1 0 -4 1 -2 -5 -1 5 -1 2 0 0 -2 0 -7 -2 0 -2 2 -2 -1 -3 -5 -4 -2 -2 4 -1 9 0 0 -5 1 -6 5 -1 6 -2 7 -1 4 -6 1 -4 2 0 3 1 1 -3 6 -3 4 -1 1 -5 3 -6 7 0 3 -2 0 -3 0 0 2 -3 1 3 0 0 1 0 2 0 4 -1 4 4 1 3 0 1 -1 1 5 1 -7 4 -1 6 -1 4 -1 0 0 0 0 -1 -1 2 -1 1 2 2 -1 4 -2 4 -3 6 -3 4 0 1 0 0 -5 0 -4 0 -2 -1 -1 4 -1 4 1 -1 0 4 -7 0 -2 -4 -1 1 -3 4 z" />
</svg>

<script>
  var pathElement = document.getElementById("CD26");
  var backgroundElement = document.querySelector(".background");


  // Condition for changing the background color
  var condition = [[${overallList}]][0].getSeoul() === '좋음';

  if (condition) {
    backgroundElement.style.fill = "green"; // Change the background color to green
  }
</script>


<svg width="400" height="400">
    <g id="original-svg">
        <!-- 기존 svg 요소들 -->
    </g>

    <script>
        // 조건에 따라 level1.svg를 표시할지 결정하는 변수
        var showLevel1 = true;

        // 조건에 따라 level1.svg를 보여주는 함수
        function showLevel1SVG() {
            if (showLevel1) {
                var img = document.createElementNS("http://www.w3.org/2000/svg", "image");
                img.setAttributeNS(null, "href", "/img/level1.svg");
                img.setAttributeNS(null, "x", "156");
                img.setAttributeNS(null, "y", "214");
                img.setAttributeNS(null, "height", "80px");
                img.setAttributeNS(null, "width", "80px");

                var svg = document.getElementById("original-svg");
                svg.appendChild(img);
            }
        }

        // showLevel1SVG 함수 호출
        showLevel1SVG();
    </script>
</svg>





</body>
</html>